<body>

<div id ="login">

    <form name="login",method="post",action="*">

        <div id = "loginDiv">
            <p style="left:10px">
                Welcome to login!</p>
            <div id="user">
                <input type="text" placeholder="手机号\邮箱\昵称" style="height: 30px;"/>
            </div>
            <div id="password">
                <input type="password"  placeholder="请输入密码" style="height: 30px;"/>
            </div>
            <input type="submit" id="loginbutton" value="登录" />
            <p  id="reg" style="font-size: x-small;left: 70px;">
                <a href="http://127.0.0.1:8020/Tb/js/register.html">注册</a>
            </p>
        </div>

    </form>
</div>
</body>